.config/Autodesk/FusionFabrication.FusionNesting
.config/composer/
.config/exercism/user.json
.config/github-copilot/
.config/lazygit/config.yml
.config/lazygit/state.yml
.config/nvim/plugin/packer_compiled.lua
.config/raycast/extensions/
.config/op/
.config/valet/
.config/zed/
.config/zsh/.zsh_history
